@model MvcTest9.Domain.Entities.tvCustomer

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetCustomer</title>
</head>
<body>
    <div> 
        @foreach (var p in Model)
        {
            <h3>@p .strName</h3>
        }
    </div>
</body>
</html>
